.body {
    margin: 0;
}

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
}

.wrapper {
    position: relative;
    left: 150px;
    overflow-x: wrap;
    display: grid;
    grid-template-columns: calc(100% - 80px);
    grid-gap: 10px;
    grid-template-areas:
      "header"
      "content";
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}